body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
body {font-family: "Lato", sans-serif;}
#mySidenav a {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}


.main {
  margin-left: 160px;
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
ul li {
  list-style-type: none;
  display: inline;
  margin-right: 100px;
  margin-left:0px;
  color: white;
    font-size:22px;
}

  nav ul li a {
  text-decoration: none;
  color: white;
  letter-spacing:1px;
  font-size:22px;
  transition:.3s;
}

  nav ul li a:hover{
  color:#f3950d;
  cursor:pointer;
  text-decoration:underline;
  }

body, html {
  height: 100%;
  background-color:black;
}

.parallax1, .parallax2, .parallax3, .parallax4 {
  position: relative;
  opacity: 0.85;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.parallax1 {
  background-image: url("https://trinket-user-assets.trinket.io/769de4d842c5de07d1193463400c433c36dc2e90-61ddb9d6f1d726c774a34fe6.jpeg");
  min-height: 100%;
}

.parallax2 {
  background-image: url("https://trinket-user-assets.trinket.io/83a545b0e997fb53d4b8da8908d0b7f6d6f60227-61ddb9e6f1d726c774a350a4.jpeg");
  min-height: 400px;
}

.parallax3 {
  background-image: url("https://trinket-user-assets.trinket.io/cce28592210fb2ab96ee5973770b933b76a3d134-61ddb9e3f1d726c774a35085.jpeg");
  min-height: 400px;
}

.parallax4 {
  background-image: url("https://trinket-user-assets.trinket.io/102693e1152fdca219c10120fff3e2d659ebe0d2-61deb3b2f1d726c774a9c949.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 30px "Lato", sans-serif;
  color: red;
  border:red;
}
#orange{
  height:100px;
  position:absolute;
  left: 200px;
  animation: slide 20s infinite;
  }
  @keyframes slide {
  0% {left: 1450px}
  50% {left:0}
  100% {left:1450px}
  }

  .dropbtn {
    background-color: grey;
    color: black;
    padding: 16px;
    font-size: 19px;
  
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: purple;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: brown;}
  .ContactForm {
    color: white;
    padding: 0 34px;
    padding-top: 144px;
}

.ContactForm form div {
    padding: 8px 0;
    display: flex;
    flex-direction: column;
}

.ContactForm form div input {
    width: 16vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}

#emailHelp {
    font-size: 10px;
    color: rgba(35, 246, 7, 0.938);
    margin: 0 5px;
}

#form-check {
    flex-direction: row;
}

#form-check input {
    width: 20px;
    margin: 3px 0;
}

.contact-message {
    display: block;
    margin-bottom: 20px;
    color: #cc0033;
}
body {font-family: Arial, Helvetica, sans-serif;}












    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    